- @author bkawan
- @date May 15 2016

In [109]:
import pandas as panda
from pandas import DataFrame, read_csv

In [110]:
location = 'nepal_data_csv/nepal.csv'

In [111]:
#df = panda.read_csv(location,skiprows=3,index_col='Indicator Name')
df = panda.read_csv(location,skiprows=3)

In [112]:
df=df[['Indicator Name','2010','2011','2012']]

df

,Indicator Name,2010,2011,2012
0,"Agricultural machinery, tractors",NaN,NaN,NaN
1,Fertilizer consumption (% of fertilizer produc...,NaN,NaN,NaN
2,Fertilizer consumption (kilograms per hectare ...,2.508670e+01,3.488371e+01,4.406988e+01
3,Agricultural land (sq. km),4.126000e+04,4.126600e+04,4.121000e+04
4,Agricultural land (% of land area),2.878270e+01,2.878689e+01,2.874782e+01
5,Arable land (hectares),2.180000e+06,2.162700e+06,2.118000e+06
6,Arable land (hectares per person),8.111353e-02,7.957177e-02,7.701674e-02
7,Arable land (% of land area),1.520753e+01,1.508685e+01,1.477503e+01
8,Land under cereal production (hectares),3.393553e+06,3.468509e+06,3.484532e+06
9,Permanent cropland (% of land area),1.060342e+00,1.176142e+00,1.450994e+00
10,Rural land area where elevation is below 5 met...,NaN,NaN,NaN
11,Rural land area where elevation is below 5 met...,NaN,NaN,NaN
12,Urban land area where elevation is below 5 met...,NaN,NaN,NaN
13,Urban land area where elevation is below 5 met...,NaN,NaN,NaN
14,Land area where elevation is below 5 meters (%...,NaN,NaN,NaN
15,Forest area (sq. km),3.636000e+04,3.636000e+04,3.636000e+04
16,Forest area (% of land area),2.536449e+01,2.536449e+01,2.536449e+01
17,Agricultural irrigated land (% of total agricu...,2.973825e+01,NaN,NaN
18,Average precipitation in depth (mm per year),NaN,NaN,1.500000e+03
19,Land area (sq. km),1.433500e+05,1.433500e+05,1.433500e+05
20,Rural land area (sq. km),NaN,NaN,NaN
21,Urban land area (sq. km),NaN,NaN,NaN
22,"Agricultural machinery, tractors per 100 sq. k...",NaN,NaN,NaN
23,Cereal production (metric tons),7.770976e+06,8.615383e+06,9.457722e+06
24,Crop production index (2004-2006 = 100),1.135600e+02,1.239700e+02,1.380700e+02
25,Food production index (2004-2006 = 100),1.133700e+02,1.216100e+02,1.402900e+02
26,Livestock production index (2004-2006 = 100),1.149300e+02,1.200100e+02,1.508600e+02
27,Surface area (sq. km),1.471800e+05,1.471800e+05,1.471800e+05
28,Cereal yield (kg per hectare),2.289900e+03,2.483900e+03,2.714200e+03
29,Trade in services (% of GDP),9.627178e+00,8.700760e+00,9.660694e+00
...,...,...,...,...
1389,Merchandise exports to low- and middle-income ...,NaN,NaN,NaN
1390,Merchandise exports to low- and middle-income ...,NaN,NaN,NaN
1391,Merchandise exports to low- and middle-income ...,6.798154e-02,1.088763e-01,1.086795e-01
1392,Merchandise exports to low- and middle-income ...,6.580152e+01,6.317716e+01,6.396532e+01
1393,Merchandise exports to low- and middle-income ...,NaN,NaN,NaN
1394,"Merchandise exports by the reporting economy, ...",6.142742e+00,6.970104e+00,8.269581e+00
1395,Merchandise exports by the reporting economy (...,7.792974e+08,8.227910e+08,8.658039e+08
1396,Merchandise exports to low- and middle-income ...,6.580152e+01,6.317716e+01,6.396532e+01
1397,Export value index (2000 = 100),1.064376e+02,1.143312e+02,1.133092e+02
1398,"Computer, communications and other services (%...",3.413217e+01,4.516057e+01,4.988311e+01
1399,Commercial service exports (current US$),5.828764e+08,7.750446e+08,7.689429e+08
1400,High-technology exports (current US$),3.566817e+06,1.916543e+06,7.783020e+05
1401,High-technology exports (% of manufactured exp...,5.674785e-01,2.860240e-01,1.303599e-01
1402,Transport services (% of commercial service ex...,6.833955e+00,5.244184e+00,4.327819e+00
1403,Travel services (% of commercial service exports),5.896646e+01,4.938238e+01,4.562843e+01
1404,Battle-related deaths (number of people),NaN,NaN,NaN
1405,"Internally displaced persons (number, high est...",NaN,4.647600e+04,6.000000e+02
1406,"Internally displaced persons (number, low esti...",NaN,NaN,NaN
1407,"Intentional homicides (per 100,000 people)",3.047007e+00,2.874071e+00,NaN
1408,"Presence of peace keepers (number of troops, p...",7.200000e+01,NaN,NaN
1409,Account at a financial institution (% age 15+)...,NaN,2.530856e+01,NaN
1410,"Account at a financial institution, male (% ag...",NaN,2.955825e+01,NaN
1411,"Account at a financial institution, female (% ...",NaN,2.121961e+01,NaN
1412,"Account at a financial institution, income, po...",NaN,1.437905e+01,NaN
1413,"Account at a financial institution, income, ri...",NaN,3.258932e+01,NaN
1414,Mobile account (% age 15+) [w2],NaN,NaN,NaN
1415,"Mobile account, male (% age 15+) [w2]",NaN,NaN,NaN
1416,"Mobile account, female (% age 15+) [w2]",NaN,NaN,NaN
1417,"Mobile account, income, poorest 40% (% ages 15...",NaN,NaN,NaN
1418,"Mobile account, income, richest 60% (% ages 15...",NaN,NaN,NaN

In [116]:
df =df.dropna()
df = df.set_index('Indicator Name').head()

,2010,2011,2012
Indicator Name,,,
Fertilizer consumption (kilograms per hectare of arable land),2.508670e+01,3.488371e+01,4.406988e+01
Agricultural land (sq. km),4.126000e+04,4.126600e+04,4.121000e+04
Agricultural land (% of land area),2.878270e+01,2.878689e+01,2.874782e+01
Arable land (hectares),2.180000e+06,2.162700e+06,2.118000e+06
Arable land (hectares per person),8.111353e-02,7.957177e-02,7.701674e-02

In [119]:
df.transpose()

,2,3,4,5,6,7,8,9,15,16,...,1394,1395,1396,1397,1398,1399,1400,1401,1402,1403
Indicator Name,Fertilizer consumption (kilograms per hectare ...,Agricultural land (sq. km),Agricultural land (% of land area),Arable land (hectares),Arable land (hectares per person),Arable land (% of land area),Land under cereal production (hectares),Permanent cropland (% of land area),Forest area (sq. km),Forest area (% of land area),...,"Merchandise exports by the reporting economy, ...",Merchandise exports by the reporting economy (...,Merchandise exports to low- and middle-income ...,Export value index (2000 = 100),"Computer, communications and other services (%...",Commercial service exports (current US$),High-technology exports (current US$),High-technology exports (% of manufactured exp...,Transport services (% of commercial service ex...,Travel services (% of commercial service exports)
2010,25.0867,41260,28.7827,2.18e+06,0.0811135,15.2075,3.39355e+06,1.06034,36360,25.3645,...,6.14274,7.79297e+08,65.8015,106.438,34.1322,5.82876e+08,3.56682e+06,0.567478,6.83396,58.9665
2011,34.8837,41266,28.7869,2.1627e+06,0.0795718,15.0869,3.46851e+06,1.17614,36360,25.3645,...,6.9701,8.22791e+08,63.1772,114.331,45.1606,7.75045e+08,1.91654e+06,0.286024,5.24418,49.3824
2012,44.0699,41210,28.7478,2.118e+06,0.0770167,14.775,3.48453e+06,1.45099,36360,25.3645,...,8.26958,8.65804e+08,63.9653,113.309,49.8831,7.68943e+08,778302,0.13036,4.32782,45.6284