- @author bkawan
- @date 17 May 2016

In [1]:
from pandas import DataFrame,read_excel

import matplotlib.pyplot as plot
import pandas as panda
import numpy as np
%matplotlib inline

# Read Data

In [2]:
location = 'olympic.xlsx'

In [3]:
df = panda.read_excel(location, sheetname='ALL MEDALISTS', skiprows=4)
df.head()

,City,Edition,Sport,Discipline,Athlete,NOC,Gender,Event,Event_gender,Medal
0,Athens,1896,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100m freestyle,M,Gold
1,Athens,1896,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,100m freestyle,M,Silver
2,Athens,1896,Aquatics,Swimming,"DRIVAS, Dimitrios",GRE,Men,100m freestyle for sailors,M,Bronze
3,Athens,1896,Aquatics,Swimming,"MALOKINIS, Ioannis",GRE,Men,100m freestyle for sailors,M,Gold
4,Athens,1896,Aquatics,Swimming,"CHASAPIS, Spiridon",GRE,Men,100m freestyle for sailors,M,Silver

### Drop Empty shells if any

In [4]:
df = df.dropna()
df.head()

,City,Edition,Sport,Discipline,Athlete,NOC,Gender,Event,Event_gender,Medal
0,Athens,1896,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100m freestyle,M,Gold
1,Athens,1896,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,100m freestyle,M,Silver
2,Athens,1896,Aquatics,Swimming,"DRIVAS, Dimitrios",GRE,Men,100m freestyle for sailors,M,Bronze
3,Athens,1896,Aquatics,Swimming,"MALOKINIS, Ioannis",GRE,Men,100m freestyle for sailors,M,Gold
4,Athens,1896,Aquatics,Swimming,"CHASAPIS, Spiridon",GRE,Men,100m freestyle for sailors,M,Silver

In [5]:
df.count()## count all shell

City            29216
Edition         29216
Sport           29216
Discipline      29216
Athlete         29216
NOC             29216
Gender          29216
Event           29216
Event_gender    29216
Medal           29216
dtype: int64

In [10]:
df.Medal.unique()

array(['Gold', 'Silver', 'Bronze'], dtype=object)

In [11]:
df['Medal'].unique()

array(['Gold', 'Silver', 'Bronze'], dtype=object)

In [12]:
df.Gender.unique()# number of unique gender

array(['Men', 'Women'], dtype=object)

In [76]:
df.NOC.unique()## number of unique Country

array(['HUN', 'AUT', 'GRE', 'USA', 'GER', 'GBR', 'FRA', 'AUS', 'DEN',
       'SUI', 'ZZX', 'NED', 'BEL', 'IND', 'CAN', 'BOH', 'SWE', 'NOR',
       'ESP', 'ITA', 'CUB', 'ANZ', 'RSA', 'FIN', 'RU1', 'EST', 'TCH',
       'NZL', 'BRA', 'JPN', 'LUX', 'ARG', 'POL', 'POR', 'URU', 'YUG',
       'ROU', 'HAI', 'EGY', 'PHI', 'IRL', 'CHI', 'LAT', 'MEX', 'TUR',
       'PAN', 'JAM', 'SRI', 'KOR', 'PUR', 'PER', 'IRI', 'TRI', 'URS',
       'VEN', 'BUL', 'LIB', 'EUA', 'ISL', 'PAK', 'BAH', 'BWI', 'TPE',
       'ETH', 'MAR', 'GHA', 'IRQ', 'SIN', 'TUN', 'KEN', 'NGR', 'GDR',
       'FRG', 'UGA', 'CMR', 'MGL', 'PRK', 'COL', 'NIG', 'THA', 'BER',
       'TAN', 'GUY', 'ZIM', 'CHN', 'CIV', 'ZAM', 'DOM', 'ALG', 'SYR',
       'SUR', 'CRC', 'INA', 'SEN', 'DJI', 'AHO', 'ISV', 'EUN', 'NAM',
       'QAT', 'LTU', 'MAS', 'CRO', 'ISR', 'SLO', 'IOP', 'RUS', 'UKR',
       'ECU', 'BDI', 'MOZ', 'CZE', 'BLR', 'TGA', 'KAZ', 'UZB', 'SVK',
       'MDA', 'GEO', 'HKG', 'ARM', 'AZE', 'BAR', 'KSA', 'KGZ', 'KUW',
       'VIE', 'MKD', 'SCG', 'ERI', 'PAR', 'UAE', 'SRB', 'SUD', 'MRI',
       'TOG', 'TJK', 'AFG'], dtype=object)

# only Unique country

In [50]:
df.NOC.unique()

array(['HUN', 'AUT', 'GRE', 'USA', 'GER', 'GBR', 'FRA', 'AUS', 'DEN',
       'SUI', 'ZZX', 'NED', 'BEL', 'IND', 'CAN', 'BOH', 'SWE', 'NOR',
       'ESP', 'ITA', 'CUB', 'ANZ', 'RSA', 'FIN', 'RU1', 'EST', 'TCH',
       'NZL', 'BRA', 'JPN', 'LUX', 'ARG', 'POL', 'POR', 'URU', 'YUG',
       'ROU', 'HAI', 'EGY', 'PHI', 'IRL', 'CHI', 'LAT', 'MEX', 'TUR',
       'PAN', 'JAM', 'SRI', 'KOR', 'PUR', 'PER', 'IRI', 'TRI', 'URS',
       'VEN', 'BUL', 'LIB', 'EUA', 'ISL', 'PAK', 'BAH', 'BWI', 'TPE',
       'ETH', 'MAR', 'GHA', 'IRQ', 'SIN', 'TUN', 'KEN', 'NGR', 'GDR',
       'FRG', 'UGA', 'CMR', 'MGL', 'PRK', 'COL', 'NIG', 'THA', 'BER',
       'TAN', 'GUY', 'ZIM', 'CHN', 'CIV', 'ZAM', 'DOM', 'ALG', 'SYR',
       'SUR', 'CRC', 'INA', 'SEN', 'DJI', 'AHO', 'ISV', 'EUN', 'NAM',
       'QAT', 'LTU', 'MAS', 'CRO', 'ISR', 'SLO', 'IOP', 'RUS', 'UKR',
       'ECU', 'BDI', 'MOZ', 'CZE', 'BLR', 'TGA', 'KAZ', 'UZB', 'SVK',
       'MDA', 'GEO', 'HKG', 'ARM', 'AZE', 'BAR', 'KSA', 'KGZ', 'KUW',
       'VIE', 'MKD', 'SCG', 'ERI', 'PAR', 'UAE', 'SRB', 'SUD', 'MRI',
       'TOG', 'TJK', 'AFG'], dtype=object)

In [72]:
all_country = df.NOC.unique()

In [73]:
all_country

array(['HUN', 'AUT', 'GRE', 'USA', 'GER', 'GBR', 'FRA', 'AUS', 'DEN',
       'SUI', 'ZZX', 'NED', 'BEL', 'IND', 'CAN', 'BOH', 'SWE', 'NOR',
       'ESP', 'ITA', 'CUB', 'ANZ', 'RSA', 'FIN', 'RU1', 'EST', 'TCH',
       'NZL', 'BRA', 'JPN', 'LUX', 'ARG', 'POL', 'POR', 'URU', 'YUG',
       'ROU', 'HAI', 'EGY', 'PHI', 'IRL', 'CHI', 'LAT', 'MEX', 'TUR',
       'PAN', 'JAM', 'SRI', 'KOR', 'PUR', 'PER', 'IRI', 'TRI', 'URS',
       'VEN', 'BUL', 'LIB', 'EUA', 'ISL', 'PAK', 'BAH', 'BWI', 'TPE',
       'ETH', 'MAR', 'GHA', 'IRQ', 'SIN', 'TUN', 'KEN', 'NGR', 'GDR',
       'FRG', 'UGA', 'CMR', 'MGL', 'PRK', 'COL', 'NIG', 'THA', 'BER',
       'TAN', 'GUY', 'ZIM', 'CHN', 'CIV', 'ZAM', 'DOM', 'ALG', 'SYR',
       'SUR', 'CRC', 'INA', 'SEN', 'DJI', 'AHO', 'ISV', 'EUN', 'NAM',
       'QAT', 'LTU', 'MAS', 'CRO', 'ISR', 'SLO', 'IOP', 'RUS', 'UKR',
       'ECU', 'BDI', 'MOZ', 'CZE', 'BLR', 'TGA', 'KAZ', 'UZB', 'SVK',
       'MDA', 'GEO', 'HKG', 'ARM', 'AZE', 'BAR', 'KSA', 'KGZ', 'KUW',
       'VIE', 'MKD', 'SCG', 'ERI', 'PAR', 'UAE', 'SRB', 'SUD', 'MRI',
       'TOG', 'TJK', 'AFG'], dtype=object)

In [74]:
len(all_country)

138

In [54]:
countries_columns = df.NOC.count()
countries_columns

29216

In [80]:

country = df['NOC'] == 'HUN'
df_country = df[country]
df_country.head()

,City,Edition,Sport,Discipline,Athlete,NOC,Gender,Event,Event_gender,Medal
0,Athens,1896,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100m freestyle,M,Gold
6,Athens,1896,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,1200m freestyle,M,Gold
12,Athens,1896,Athletics,Athletics,"SZOKOLYI, Alajos",HUN,Men,100m,M,Bronze
25,Athens,1896,Athletics,Athletics,"DANI, Nandor",HUN,Men,800m,M,Silver
35,Athens,1896,Athletics,Athletics,"KELLNER, Gyula",HUN,Men,marathon,M,Bronze

# Data extraction
- Total Medal
- total gold medal
- total silver medal
- total bronze medal
- total medal men
    - total gold medal men
    - total silver medal men
    - total bronze medal men
- total medal women
    - total gold medal women
    - total silver medal women
    - total bronze medal women

In [81]:
total_medal=[]

total_gold = []
total_silver = []
total_bronze =[]
total_medal_men = []
total_medal_women = []
total_gold_medal_men =[]
total_silver_medal_men =[]
total_bronze_medal_men =[]
total_gold_medal_women = []
total_silver_medal_women =[]
total_bronze_medal_women =[]




i=0
j =0
while i < countries_columns:
#     print(i)
    while j < len(all_country):
        #print(total_country[j])
        country = df['NOC'] == all_country[j]
#         print(total_country[j])
#         print(df[country].Medal.count())
        total_medal.append(df[country].Medal.count())
        country_df = df[country]
        men = country_df['Gender'] == 'Men'
        women = country_df['Gender'] == 'Women'
        gold = country_df['Medal'] =='Gold'
        silver = country_df['Medal'] =='Silver'
        bronze = country_df['Medal'] =='Bronze'
        
        total_medal.append(country_df.Medal.count())
        total_gold.append(country_df[gold].Medal.count())
        total_silver.append(country_df[silver].Medal.count())
        total_bronze.append(country_df[bronze].Medal.count())
        total_medal_men.append(country_df[men].Medal.count())
        total_medal_women.append(country_df[women].Medal.count())
        total_gold_medal_men.append(country_df[men][gold].Medal.count())
        total_silver_medal_men.append(country_df[men][silver].Medal.count())
        total_bronze_medal_men.append(country_df[men][bronze].Medal.count())
        total_gold_medal_women.append(country_df[women][gold].Medal.count())
        total_silver_medal_women.append(country_df[women][silver].Medal.count())
        total_bronze_medal_women.append(country_df[women][bronze].Medal.count())
        
        print("Country Name: {} \n Total Medal: {}\n Total Gold Medal: {}\n Total Silver Medal: {}\n Total Bronze Medal: {}\n".format(all_country[j],country_df.Medal.count(),country_df[gold].Medal.count(),country_df[silver].Medal.count(),country_df[bronze].Medal.count()) +
              " Total Men Medal Winner: {}\n Total Women Medal Winner: {}\n".format(country_df[men].Medal.count(),country_df[women].Medal.count()))
        print("Men Medals\n-----------")
        print("Total Gold Medal Men: ",country_df[men][gold].Medal.count())
        print("Total Silver Medal Men: ",country_df[men][silver].Medal.count())
        print("Total Bronze Medal Men: ",country_df[men][bronze].Medal.count())
        print("\nWomen Medals\n-----------")
        print("Total Gold Medal Women: ",country_df[women][gold].Medal.count())
        print("Total Silver Medal Women: ",country_df[women][silver].Medal.count())
        print("Total Bronze Medal Women: ",country_df[women][bronze].Medal.count())
        
        print("*************************************************************************************\n")
        
#         men = df[country] == 'Men'
#         women = df[country] == 'Women'
#         print(df.Medal.count())
        
#         print(j)
        

        
        j +=1
    i +=1

/Users/BIKESHKAWAN/anaconda/lib/python3.5/site-packages/ipykernel/__main__.py:41: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
/Users/BIKESHKAWAN/anaconda/lib/python3.5/site-packages/ipykernel/__main__.py:42: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
/Users/BIKESHKAWAN/anaconda/lib/python3.5/site-packages/ipykernel/__main__.py:43: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
/Users/BIKESHKAWAN/anaconda/lib/python3.5/site-packages/ipykernel/__main__.py:44: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
/Users/BIKESHKAWAN/anaconda/lib/python3.5/site-packages/ipykernel/__main__.py:45: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
/Users/BIKESHKAWAN/anaconda/lib/python3.5/site-packages/ipykernel/__main__.py:46: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
/Users/BIKESHKAWAN/anaconda/lib/python3.5/site-packages/ipykernel/__main__.py:51: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
/Users/BIKESHKAWAN/anaconda/lib/python3.5/site-packages/ipykernel/__main__.py:52: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
/Users/BIKESHKAWAN/anaconda/lib/python3.5/site-packages/ipykernel/__main__.py:53: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
/Users/BIKESHKAWAN/anaconda/lib/python3.5/site-packages/ipykernel/__main__.py:55: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
/Users/BIKESHKAWAN/anaconda/lib/python3.5/site-packages/ipykernel/__main__.py:56: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
/Users/BIKESHKAWAN/anaconda/lib/python3.5/site-packages/ipykernel/__main__.py:57: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

Country Name: HUN
 Total Medal: 1053
 Total Gold Medal: 400
 Total Silver Medal: 308
 Total Bronze Medal: 345
 Total Men Medal Winner: 818
 Total Women Medal Winner: 235

Men Medals
-----------
Total Gold Medal Men:  349
Total Silver Medal Men:  218
Total Bronze Medal Men:  251

Women Medals
-----------
Total Gold Medal Women:  51
Total Silver Medal Women:  90
Total Bronze Medal Women:  94
*************************************************************************************

Country Name: AUT
 Total Medal: 146
 Total Gold Medal: 21
 Total Silver Medal: 81
 Total Bronze Medal: 44
 Total Men Medal Winner: 125
 Total Women Medal Winner: 21

Men Medals
-----------
Total Gold Medal Men:  17
Total Silver Medal Men:  77
Total Bronze Medal Men:  31

Women Medals
-----------
Total Gold Medal Women:  4
Total Silver Medal Women:  4
Total Bronze Medal Women:  13
*************************************************************************************

Country Name: GRE
 Total Medal: 145
 Total Gold Medal: 34
 Total Silver Medal: 62
 Total Bronze Medal: 49
 Total Men Medal Winner: 108
 Total Women Medal Winner: 37

Men Medals
-----------
Total Gold Medal Men:  29
Total Silver Medal Men:  42
Total Bronze Medal Men:  37

Women Medals
-----------
Total Gold Medal Women:  5
Total Silver Medal Women:  20
Total Bronze Medal Women:  12
*************************************************************************************

Country Name: USA
 Total Medal: 4335
 Total Gold Medal: 2088
 Total Silver Medal: 1195
 Total Bronze Medal: 1052
 Total Men Medal Winner: 3120
 Total Women Medal Winner: 1215

Men Medals
-----------
Total Gold Medal Men:  1520
Total Silver Medal Men:  834
Total Bronze Medal Men:  766

Women Medals
-----------
Total Gold Medal Women:  568
Total Silver Medal Women:  361
Total Bronze Medal Women:  286
*************************************************************************************

Country Name: GER
 Total Medal: 1211
 Total Gold Medal: 407
 Total Silver Medal: 350
 Total Bronze Medal: 454
 Total Men Medal Winner: 849
 Total Women Medal Winner: 362

Men Medals
-----------
Total Gold Medal Men:  301
Total Silver Medal Men:  250
Total Bronze Medal Men:  298

Women Medals
-----------
Total Gold Medal Women:  106
Total Silver Medal Women:  100
Total Bronze Medal Women:  156
*************************************************************************************

Country Name: GBR
 Total Medal: 1594
 Total Gold Medal: 498
 Total Silver Medal: 591
 Total Bronze Medal: 505
 Total Men Medal Winner: 1336
 Total Women Medal Winner: 258

Men Medals
-----------
Total Gold Medal Men:  455
Total Silver Medal Men:  494
Total Bronze Medal Men:  387

Women Medals
-----------
Total Gold Medal Women:  43
Total Silver Medal Women:  97
Total Bronze Medal Women:  118
*************************************************************************************

Country Name: FRA
 Total Medal: 1314
 Total Gold Medal: 378
 Total Silver Medal: 461
 Total Bronze Medal: 475
 Total Men Medal Winner: 1203
 Total Women Medal Winner: 111

Men Medals
-----------
Total Gold Medal Men:  345
Total Silver Medal Men:  431
Total Bronze Medal Men:  427

Women Medals
-----------
Total Gold Medal Women:  33
Total Silver Medal Women:  30
Total Bronze Medal Women:  48
*************************************************************************************

Country Name: AUS
 Total Medal: 1075
 Total Gold Medal: 293
 Total Silver Medal: 369
 Total Bronze Medal: 413
 Total Men Medal Winner: 647
 Total Women Medal Winner: 428

Men Medals
-----------
Total Gold Medal Men:  148
Total Silver Medal Men:  236
Total Bronze Medal Men:  263

Women Medals
-----------
Total Gold Medal Women:  145
Total Silver Medal Women:  133
Total Bronze Medal Women:  150
*************************************************************************************

Country Name: DEN
 Total Medal: 491
 Total Gold Medal: 147
 Total Silver Medal: 192
 Total Bronze Medal: 152
 Total Men Medal Winner: 402
 Total Women Medal Winner: 89

Men Medals
-----------
Total Gold Medal Men:  95
Total Silver Medal Men:  177
Total Bronze Medal Men:  130

Women Medals
-----------
Total Gold Medal Women:  52
Total Silver Medal Women:  15
Total Bronze Medal Women:  22
*************************************************************************************

Country Name: SUI
 Total Medal: 376
 Total Gold Medal: 73
 Total Silver Medal: 165
 Total Bronze Medal: 138
 Total Men Medal Winner: 350
 Total Women Medal Winner: 26

Men Medals
-----------
Total Gold Medal Men:  71
Total Silver Medal Men:  149
Total Bronze Medal Men:  130

Women Medals
-----------
Total Gold Medal Women:  2
Total Silver Medal Women:  16
Total Bronze Medal Women:  8
*************************************************************************************

Country Name: ZZX
 Total Medal: 48
 Total Gold Medal: 23
 Total Silver Medal: 15
 Total Bronze Medal: 10
 Total Men Medal Winner: 45
 Total Women Medal Winner: 3

Men Medals
-----------
Total Gold Medal Men:  23
Total Silver Medal Men:  14
Total Bronze Medal Men:  8

Women Medals
-----------
Total Gold Medal Women:  0
Total Silver Medal Women:  1
Total Bronze Medal Women:  2
*************************************************************************************

Country Name: NED
 Total Medal: 782
 Total Gold Medal: 212
 Total Silver Medal: 250
 Total Bronze Medal: 320
 Total Men Medal Winner: 468
 Total Women Medal Winner: 314

Men Medals
-----------
Total Gold Medal Men:  113
Total Silver Medal Men:  148
Total Bronze Medal Men:  207

Women Medals
-----------
Total Gold Medal Women:  99
Total Silver Medal Women:  102
Total Bronze Medal Women:  113
*************************************************************************************

Country Name: BEL
 Total Medal: 408
 Total Gold Medal: 91
 Total Silver Medal: 167
 Total Bronze Medal: 150
 Total Men Medal Winner: 390
 Total Women Medal Winner: 18

Men Medals
-----------
Total Gold Medal Men:  88
Total Silver Medal Men:  161
Total Bronze Medal Men:  141

Women Medals
-----------
Total Gold Medal Women:  3
Total Silver Medal Women:  6
Total Bronze Medal Women:  9
*************************************************************************************

Country Name: IND
 Total Medal: 178
 Total Gold Medal: 128
 Total Silver Medal: 16
 Total Bronze Medal: 34
 Total Men Medal Winner: 177
 Total Women Medal Winner: 1

Men Medals
-----------
Total Gold Medal Men:  128
Total Silver Medal Men:  16
Total Bronze Medal Men:  33

Women Medals
-----------
Total Gold Medal Women:  0
Total Silver Medal Women:  0
Total Bronze Medal Women:  1
*************************************************************************************

Country Name: CAN
 Total Medal: 592
 Total Gold Medal: 154
 Total Silver Medal: 211
 Total Bronze Medal: 227
 Total Men Medal Winner: 411
 Total Women Medal Winner: 181

Men Medals
-----------
Total Gold Medal Men:  122
Total Silver Medal Men:  145
Total Bronze Medal Men:  144

Women Medals
-----------
Total Gold Medal Women:  32
Total Silver Medal Women:  66
Total Bronze Medal Women:  83
*************************************************************************************

Country Name: BOH
 Total Medal: 7
 Total Gold Medal: 0
 Total Silver Medal: 1
 Total Bronze Medal: 6
 Total Men Medal Winner: 6
 Total Women Medal Winner: 1

Men Medals
-----------
Total Gold Medal Men:  0
Total Silver Medal Men:  1
Total Bronze Medal Men:  5

Women Medals
-----------
Total Gold Medal Women:  0
Total Silver Medal Women:  0
Total Bronze Medal Women:  1
*************************************************************************************

Country Name: SWE
 Total Medal: 1021
 Total Gold Medal: 347
 Total Silver Medal: 349
 Total Bronze Medal: 325
 Total Men Medal Winner: 932
 Total Women Medal Winner: 89

Men Medals
-----------
Total Gold Medal Men:  328
Total Silver Medal Men:  320
Total Bronze Medal Men:  284

Women Medals
-----------
Total Gold Medal Women:  19
Total Silver Medal Women:  29
Total Bronze Medal Women:  41
*************************************************************************************

Country Name: NOR
 Total Medal: 537
 Total Gold Medal: 194
 Total Silver Medal: 199
 Total Bronze Medal: 144
 Total Men Medal Winner: 429
 Total Women Medal Winner: 108

Men Medals
-----------
Total Gold Medal Men:  158
Total Silver Medal Men:  163
Total Bronze Medal Men:  108

Women Medals
-----------
Total Gold Medal Women:  36
Total Silver Medal Women:  36
Total Bronze Medal Women:  36
*************************************************************************************

Country Name: ESP
 Total Medal: 377
 Total Gold Medal: 92
 Total Silver Medal: 193
 Total Bronze Medal: 92
 Total Men Medal Winner: 315
 Total Women Medal Winner: 62

Men Medals
-----------
Total Gold Medal Men:  63
Total Silver Medal Men:  171
Total Bronze Medal Men:  81

Women Medals
-----------
Total Gold Medal Women:  29
Total Silver Medal Women:  22
Total Bronze Medal Women:  11
*************************************************************************************

Country Name: ITA
 Total Medal: 1228
 Total Gold Medal: 460
 Total Silver Medal: 394
 Total Bronze Medal: 374
 Total Men Medal Winner: 1109
 Total Women Medal Winner: 119

Men Medals
-----------
Total Gold Medal Men:  418
Total Silver Medal Men:  345
Total Bronze Medal Men:  346

Women Medals
-----------
Total Gold Medal Women:  42
Total Silver Medal Women:  49
Total Bronze Medal Women:  28
*************************************************************************************

Country Name: CUB
 Total Medal: 395
 Total Gold Medal: 160
 Total Silver Medal: 126
 Total Bronze Medal: 109
 Total Men Medal Winner: 299
 Total Women Medal Winner: 96

Men Medals
-----------
Total Gold Medal Men:  116
Total Silver Medal Men:  107
Total Bronze Medal Men:  76

Women Medals
-----------
Total Gold Medal Women:  44
Total Silver Medal Women:  19
Total Bronze Medal Women:  33
*************************************************************************************

Country Name: ANZ
 Total Medal: 29
 Total Gold Medal: 20
 Total Silver Medal: 4
 Total Bronze Medal: 5
 Total Men Medal Winner: 27
 Total Women Medal Winner: 2

Men Medals
-----------
Total Gold Medal Men:  19
Total Silver Medal Men:  3
Total Bronze Medal Men:  5

Women Medals
-----------
Total Gold Medal Women:  1
Total Silver Medal Women:  1
Total Bronze Medal Women:  0
*************************************************************************************

Country Name: RSA
 Total Medal: 97
 Total Gold Medal: 24
 Total Silver Medal: 37
 Total Bronze Medal: 36
 Total Men Medal Winner: 77
 Total Women Medal Winner: 20

Men Medals
-----------
Total Gold Medal Men:  20
Total Silver Medal Men:  33
Total Bronze Medal Men:  24

Women Medals
-----------
Total Gold Medal Women:  4
Total Silver Medal Women:  4
Total Bronze Medal Women:  12
*************************************************************************************

Country Name: FIN
 Total Medal: 451
 Total Gold Medal: 124
 Total Silver Medal: 118
 Total Bronze Medal: 209
 Total Men Medal Winner: 442
 Total Women Medal Winner: 9

Men Medals
-----------
Total Gold Medal Men:  120
Total Silver Medal Men:  114
Total Bronze Medal Men:  208

Women Medals
-----------
Total Gold Medal Women:  4
Total Silver Medal Women:  4
Total Bronze Medal Women:  1
*************************************************************************************

Country Name: RU1
 Total Medal: 17
 Total Gold Medal: 1
 Total Silver Medal: 7
 Total Bronze Medal: 9
 Total Men Medal Winner: 17
 Total Women Medal Winner: 0

Men Medals
-----------
Total Gold Medal Men:  1
Total Silver Medal Men:  7
Total Bronze Medal Men:  9

Women Medals
-----------
Total Gold Medal Women:  0
Total Silver Medal Women:  0
Total Bronze Medal Women:  0
*************************************************************************************

Country Name: EST
 Total Medal: 37
 Total Gold Medal: 9
 Total Silver Medal: 9
 Total Bronze Medal: 19
 Total Men Medal Winner: 36
 Total Women Medal Winner: 1

Men Medals
-----------
Total Gold Medal Men:  8
Total Silver Medal Men:  9
Total Bronze Medal Men:  19

Women Medals
-----------
Total Gold Medal Women:  1
Total Silver Medal Women:  0
Total Bronze Medal Women:  0
*************************************************************************************

Country Name: TCH
 Total Medal: 329
 Total Gold Medal: 80
 Total Silver Medal: 144
 Total Bronze Medal: 105
 Total Men Medal Winner: 249
 Total Women Medal Winner: 80

Men Medals
-----------
Total Gold Medal Men:  60
Total Silver Medal Men:  95
Total Bronze Medal Men:  94

Women Medals
-----------
Total Gold Medal Women:  20
Total Silver Medal Women:  49
Total Bronze Medal Women:  11
*************************************************************************************

Country Name: NZL
 Total Medal: 164
 Total Gold Medal: 76
 Total Silver Medal: 27
 Total Bronze Medal: 61
 Total Men Medal Winner: 142
 Total Women Medal Winner: 22

Men Medals
-----------
Total Gold Medal Men:  68
Total Silver Medal Men:  22
Total Bronze Medal Men:  52

Women Medals
-----------
Total Gold Medal Women:  8
Total Silver Medal Women:  5
Total Bronze Medal Women:  9
*************************************************************************************

Country Name: BRA
 Total Medal: 372
 Total Gold Medal: 59
 Total Silver Medal: 139
 Total Bronze Medal: 174
 Total Men Medal Winner: 262
 Total Women Medal Winner: 110

Men Medals
-----------
Total Gold Medal Men:  44
Total Silver Medal Men:  86
Total Bronze Medal Men:  132

Women Medals
-----------
Total Gold Medal Women:  15
Total Silver Medal Women:  53
Total Bronze Medal Women:  42
*************************************************************************************

Country Name: JPN
 Total Medal: 704
 Total Gold Medal: 206
 Total Silver Medal: 228
 Total Bronze Medal: 270
 Total Men Medal Winner: 494
 Total Women Medal Winner: 210

Men Medals
-----------
Total Gold Medal Men:  148
Total Silver Medal Men:  150
Total Bronze Medal Men:  196

Women Medals
-----------
Total Gold Medal Women:  58
Total Silver Medal Women:  78
Total Bronze Medal Women:  74
*************************************************************************************

Country Name: LUX
 Total Medal: 2
 Total Gold Medal: 1
 Total Silver Medal: 1
 Total Bronze Medal: 0
 Total Men Medal Winner: 2
 Total Women Medal Winner: 0

Men Medals
-----------
Total Gold Medal Men:  1
Total Silver Medal Men:  1
Total Bronze Medal Men:  0

Women Medals
-----------
Total Gold Medal Women:  0
Total Silver Medal Women:  0
Total Bronze Medal Women:  0
*************************************************************************************

Country Name: ARG
 Total Medal: 239
 Total Gold Medal: 68
 Total Silver Medal: 83
 Total Bronze Medal: 88
 Total Men Medal Winner: 183
 Total Women Medal Winner: 56

Men Medals
-----------
Total Gold Medal Men:  68
Total Silver Medal Men:  64
Total Bronze Medal Men:  51

Women Medals
-----------
Total Gold Medal Women:  0
Total Silver Medal Women:  19
Total Bronze Medal Women:  37
*************************************************************************************

Country Name: POL
 Total Medal: 499
 Total Gold Medal: 103
 Total Silver Medal: 173
 Total Bronze Medal: 223
 Total Men Medal Winner: 406
 Total Women Medal Winner: 93

Men Medals
-----------
Total Gold Medal Men:  90
Total Silver Medal Men:  151
Total Bronze Medal Men:  165

Women Medals
-----------
Total Gold Medal Women:  13
Total Silver Medal Women:  22
Total Bronze Medal Women:  58
*************************************************************************************

Country Name: POR
 Total Medal: 31
 Total Gold Medal: 4
 Total Silver Medal: 9
 Total Bronze Medal: 18
 Total Men Medal Winner: 26
 Total Women Medal Winner: 5

Men Medals
-----------
Total Gold Medal Men:  2
Total Silver Medal Men:  8
Total Bronze Medal Men:  16

Women Medals
-----------
Total Gold Medal Women:  2
Total Silver Medal Women:  1
Total Bronze Medal Women:  2
*************************************************************************************

Country Name: URU
 Total Medal: 76
 Total Gold Medal: 44
 Total Silver Medal: 2
 Total Bronze Medal: 30
 Total Men Medal Winner: 76
 Total Women Medal Winner: 0

Men Medals
-----------
Total Gold Medal Men:  44
Total Silver Medal Men:  2
Total Bronze Medal Men:  30

Women Medals
-----------
Total Gold Medal Women:  0
Total Silver Medal Women:  0
Total Bronze Medal Women:  0
*************************************************************************************

Country Name: YUG
 Total Medal: 435
 Total Gold Medal: 143
 Total Silver Medal: 174
 Total Bronze Medal: 118
 Total Men Medal Winner: 373
 Total Women Medal Winner: 62

Men Medals
-----------
Total Gold Medal Men:  125
Total Silver Medal Men:  146
Total Bronze Medal Men:  102

Women Medals
-----------
Total Gold Medal Women:  18
Total Silver Medal Women:  28
Total Bronze Medal Women:  16
*************************************************************************************

Country Name: ROU
 Total Medal: 624
 Total Gold Medal: 155
 Total Silver Medal: 187
 Total Bronze Medal: 282
 Total Men Medal Winner: 299
 Total Women Medal Winner: 325

Men Medals
-----------
Total Gold Medal Men:  39
Total Silver Medal Men:  90
Total Bronze Medal Men:  170

Women Medals
-----------
Total Gold Medal Women:  116
Total Silver Medal Women:  97
Total Bronze Medal Women:  112
*************************************************************************************

Country Name: HAI
 Total Medal: 8
 Total Gold Medal: 0
 Total Silver Medal: 1
 Total Bronze Medal: 7
 Total Men Medal Winner: 8
 Total Women Medal Winner: 0

Men Medals
-----------
Total Gold Medal Men:  0
Total Silver Medal Men:  1
Total Bronze Medal Men:  7

Women Medals
-----------
Total Gold Medal Women:  0
Total Silver Medal Women:  0
Total Bronze Medal Women:  0
*************************************************************************************

Country Name: EGY
 Total Medal: 24
 Total Gold Medal: 7
 Total Silver Medal: 7
 Total Bronze Medal: 10
 Total Men Medal Winner: 24
 Total Women Medal Winner: 0

Men Medals
-----------
Total Gold Medal Men:  7
Total Silver Medal Men:  7
Total Bronze Medal Men:  10

Women Medals
-----------
Total Gold Medal Women:  0
Total Silver Medal Women:  0
Total Bronze Medal Women:  0
*************************************************************************************

Country Name: PHI
 Total Medal: 9
 Total Gold Medal: 0
 Total Silver Medal: 2
 Total Bronze Medal: 7
 Total Men Medal Winner: 9
 Total Women Medal Winner: 0

Men Medals
-----------
Total Gold Medal Men:  0
Total Silver Medal Men:  2
Total Bronze Medal Men:  7

Women Medals
-----------
Total Gold Medal Women:  0
Total Silver Medal Women:  0
Total Bronze Medal Women:  0
*************************************************************************************

Country Name: IRL
 Total Medal: 24
 Total Gold Medal: 8
 Total Silver Medal: 8
 Total Bronze Medal: 8
 Total Men Medal Winner: 19
 Total Women Medal Winner: 5

Men Medals
-----------
Total Gold Medal Men:  5
Total Silver Medal Men:  7
Total Bronze Medal Men:  7

Women Medals
-----------
Total Gold Medal Women:  3
Total Silver Medal Women:  1
Total Bronze Medal Women:  1
*************************************************************************************

Country Name: CHI
 Total Medal: 33
 Total Gold Medal: 3
 Total Silver Medal: 9
 Total Bronze Medal: 21
 Total Men Medal Winner: 32
 Total Women Medal Winner: 1

Men Medals
-----------
Total Gold Medal Men:  3
Total Silver Medal Men:  8
Total Bronze Medal Men:  21

Women Medals
-----------
Total Gold Medal Women:  0
Total Silver Medal Women:  1
Total Bronze Medal Women:  0
*************************************************************************************

Country Name: LAT
 Total Medal: 17
 Total Gold Medal: 2
 Total Silver Medal: 11
 Total Bronze Medal: 4
 Total Men Medal Winner: 16
 Total Women Medal Winner: 1

Men Medals

# Create Data Sets and merge two data sets

In [123]:
dataSet1 = list(zip(all_country,total_gold_medal_men,total_silver_medal_men,total_bronze_medal_men,total_medal_men))
dataSet2 = list(zip(all_country,total_gold_medal_women,total_silver_medal_women,total_bronze_medal_women,total_medal_women))


dataSet = dataSet1 + dataSet2
dataSet

[('HUN', 349, 218, 251, 818),
 ('AUT', 17, 77, 31, 125),
 ('GRE', 29, 42, 37, 108),
 ('USA', 1520, 834, 766, 3120),
 ('GER', 301, 250, 298, 849),
 ('GBR', 455, 494, 387, 1336),
 ('FRA', 345, 431, 427, 1203),
 ('AUS', 148, 236, 263, 647),
 ('DEN', 95, 177, 130, 402),
 ('SUI', 71, 149, 130, 350),
 ('ZZX', 23, 14, 8, 45),
 ('NED', 113, 148, 207, 468),
 ('BEL', 88, 161, 141, 390),
 ('IND', 128, 16, 33, 177),
 ('CAN', 122, 145, 144, 411),
 ('BOH', 0, 1, 5, 6),
 ('SWE', 328, 320, 284, 932),
 ('NOR', 158, 163, 108, 429),
 ('ESP', 63, 171, 81, 315),
 ('ITA', 418, 345, 346, 1109),
 ('CUB', 116, 107, 76, 299),
 ('ANZ', 19, 3, 5, 27),
 ('RSA', 20, 33, 24, 77),
 ('FIN', 120, 114, 208, 442),
 ('RU1', 1, 7, 9, 17),
 ('EST', 8, 9, 19, 36),
 ('TCH', 60, 95, 94, 249),
 ('NZL', 68, 22, 52, 142),
 ('BRA', 44, 86, 132, 262),
 ('JPN', 148, 150, 196, 494),
 ('LUX', 1, 1, 0, 2),
 ('ARG', 68, 64, 51, 183),
 ('POL', 90, 151, 165, 406),
 ('POR', 2, 8, 16, 26),
 ('URU', 44, 2, 30, 76),
 ('YUG', 125, 146, 102, 373),
 ('ROU', 39, 90, 170, 299),
 ('HAI', 0, 1, 7, 8),
 ('EGY', 7, 7, 10, 24),
 ('PHI', 0, 2, 7, 9),
 ('IRL', 5, 7, 7, 19),
 ('CHI', 3, 8, 21, 32),
 ('LAT', 2, 10, 4, 16),
 ('MEX', 12, 15, 42, 69),
 ('TUR', 36, 19, 20, 75),
 ('PAN', 1, 0, 2, 3),
 ('JAM', 13, 18, 16, 47),
 ('SRI', 0, 1, 0, 1),
 ('KOR', 75, 83, 83, 241),
 ('PUR', 0, 1, 5, 6),
 ('PER', 1, 2, 0, 3),
 ('IRI', 11, 15, 22, 48),
 ('TRI', 1, 8, 11, 20),
 ('URS', 575, 482, 419, 1476),
 ('VEN', 1, 2, 6, 9),
 ('BUL', 40, 94, 80, 214),
 ('LIB', 0, 2, 2, 4),
 ('EUA', 57, 75, 73, 205),
 ('ISL', 0, 15, 1, 16),
 ('PAK', 42, 45, 34, 121),
 ('BAH', 2, 4, 4, 10),
 ('BWI', 0, 0, 5, 5),
 ('TPE', 1, 25, 4, 30),
 ('ETH', 12, 4, 9, 25),
 ('MAR', 5, 4, 8, 17),
 ('GHA', 0, 1, 15, 16),
 ('IRQ', 0, 0, 1, 1),
 ('SIN', 0, 1, 0, 1),
 ('TUN', 2, 2, 3, 7),
 ('KEN', 24, 25, 24, 73),
 ('NGR', 18, 32, 16, 66),
 ('GDR', 169, 150, 137, 456),
 ('FRG', 110, 128, 137, 375),
 ('UGA', 1, 3, 2, 6),
 ('CMR', 18, 1, 1, 20),
 ('MGL', 2, 6, 9, 17),
 ('PRK', 7, 7, 13, 27),
 ('COL', 0, 3, 3, 6),
 ('NIG', 0, 0, 1, 1),
 ('THA', 4, 3, 6, 13),
 ('BER', 0, 0, 1, 1),
 ('TAN', 0, 2, 0, 2),
 ('GUY', 0, 0, 1, 1),
 ('ZIM', 0, 0, 0, 0),
 ('CHN', 95, 75, 48, 218),
 ('CIV', 0, 1, 0, 1),
 ('ZAM', 0, 1, 1, 2),
 ('DOM', 2, 1, 1, 4),
 ('ALG', 2, 2, 7, 11),
 ('SYR', 0, 1, 1, 2),
 ('SUR', 1, 0, 1, 2),
 ('CRC', 0, 0, 0, 0),
 ('INA', 8, 6, 8, 22),
 ('SEN', 0, 1, 0, 1),
 ('DJI', 0, 0, 1, 1),
 ('AHO', 0, 1, 0, 1),
 ('ISV', 0, 1, 0, 1),
 ('EUN', 59, 38, 32, 129),
 ('NAM', 0, 4, 0, 4),
 ('QAT', 0, 0, 2, 2),
 ('LTU', 3, 2, 39, 44),
 ('MAS', 0, 3, 3, 6),
 ('CRO', 31, 29, 15, 75),
 ('ISR', 1, 0, 5, 6),
 ('SLO', 4, 4, 8, 16),
 ('IOP', 0, 0, 1, 1),
 ('RUS', 97, 94, 154, 345),
 ('UKR', 15, 22, 38, 75),
 ('ECU', 1, 1, 0, 2),
 ('BDI', 1, 0, 0, 1),
 ('MOZ', 0, 0, 0, 0),
 ('CZE', 6, 13, 10, 29),
 ('BLR', 8, 13, 24, 45),
 ('TGA', 0, 1, 0, 1),
 ('KAZ', 8, 14, 12, 34),
 ('UZB', 4, 5, 7, 16),
 ('SVK', 8, 8, 8, 24),
 ('MDA', 0, 3, 3, 6),
 ('GEO', 5, 2, 10, 17),
 ('HKG', 0, 2, 0, 2),
 ('ARM', 1, 1, 7, 9),
 ('AZE', 3, 3, 6, 12),
 ('BAR', 0, 0, 1, 1),
 ('KSA', 0, 1, 1, 2),
 ('KGZ', 0, 1, 2, 3),
 ('KUW', 0, 0, 1, 1),
 ('VIE', 0, 1, 0, 1),
 ('MKD', 0, 0, 1, 1),
 ('SCG', 0, 13, 0, 13),
 ('ERI', 0, 0, 1, 1),
 ('PAR', 0, 17, 0, 17),
 ('UAE', 1, 0, 0, 1),
 ('SRB', 0, 1, 14, 15),
 ('SUD', 0, 1, 0, 1),
 ('MRI', 0, 0, 1, 1),
 ('TOG', 0, 0, 1, 1),
 ('TJK', 0, 1, 1, 2),
 ('AFG', 0, 0, 1, 1),
 ('HUN', 51, 90, 94, 235),
 ('AUT', 4, 4, 13, 21),
 ('GRE', 5, 20, 12, 37),
 ('USA', 568, 361, 286, 1215),
 ('GER', 106, 100, 156, 362),
 ('GBR', 43, 97, 118, 258),
 ('FRA', 33, 30, 48, 111),
 ('AUS', 145, 133, 150, 428),
 ('DEN', 52, 15, 22, 89),
 ('SUI', 2, 16, 8, 26),
 ('ZZX', 0, 1, 2, 3),
 ('NED', 99, 102, 113, 314),
 ('BEL', 3, 6, 9, 18),
 ('IND', 0, 0, 1, 1),
 ('CAN', 32, 66, 83, 181),
 ('BOH', 0, 0, 1, 1),
 ('SWE', 19, 29, 41, 89),
 ('NOR', 36, 36, 36, 108),
 ('ESP', 29, 22, 11, 62),
 ('ITA', 42, 49, 28, 119),
 ('CUB', 44, 19, 33, 96),
 ('ANZ', 1, 1, 0, 2),
 ('RSA', 4, 4, 12, 20),
 ('FIN', 4, 4, 1, 9),
 ('RU1', 0, 0, 0, 0),
 ('EST', 1, 0, 0, 1),
 ('TCH', 20, 49, 11, 80),
 ('NZL', 8, 5, 9, 22),
 ('BRA', 15, 53, 42, 110),
 ('JPN', 58, 78, 74, 210),
 ('LUX', 0, 0, 0, 0),
 ('ARG', 0, 19, 37, 56),
 ('POL', 13, 22, 58, 93),
 ('POR', 2, 1, 2, 5),
 ('URU', 0, 0, 0, 0),
 ('YUG', 18, 28, 16, 62),
 ('ROU', 116, 97, 112, 325),
 ('HAI', 0, 0, 0, 0),
 ('EGY', 0, 0, 0, 0),
 ('PHI', 0, 0, 0, 0),
 ('IRL', 3, 1, 1, 5),
 ('CHI', 0, 1, 0, 1),
 ('LAT', 0, 1, 0, 1),
 ('MEX', 2, 3, 6, 11),
 ('TUR', 1, 4, 2, 7),
 ('PAN', 0, 0, 0, 0),
 ('JAM', 10, 22, 23, 55),
 ('SRI', 0, 1, 0, 1),
 ('KOR', 65, 108, 52, 225),
 ('PUR', 0, 0, 0, 0),
 ('PER', 0, 12, 0, 12),
 ('IRI', 0, 0, 0, 0),
 ('TRI', 0, 0, 0, 0),
 ('URS', 263, 145, 165, 573),
 ('VEN', 0, 0, 2, 2),
 ('BUL', 13, 48, 56, 117),
 ('LIB', 0, 0, 0, 0),
 ('EUA', 11, 25, 19, 55),
 ('ISL', 0, 0, 1, 1),
 ('PAK', 0, 0, 0, 0),
 ('BAH', 7, 5, 1, 13),
 ('BWI', 0, 0, 0, 0),
 ('TPE', 1, 2, 9, 12),
 ('ETH', 6, 2, 5, 13),
 ('MAR', 1, 1, 2, 4),
 ('GHA', 0, 0, 0, 0),
 ('IRQ', 0, 0, 0, 0),
 ('SIN', 0, 3, 0, 3),
 ('TUN', 0, 0, 0, 0),
 ('KEN', 2, 6, 0, 8),
 ('NGR', 1, 6, 11, 18),
 ('GDR', 160, 121, 88, 369),
 ('FRG', 33, 39, 43, 115),
 ('UGA', 0, 0, 0, 0),
 ('CMR', 2, 0, 0, 2),
 ('MGL', 0, 1, 1, 2),
 ('PRK', 3, 5, 17, 25),
 ('COL', 1, 0, 4, 5),
 ('NIG', 0, 0, 0, 0),
 ('THA', 3, 1, 4, 8),
 ('BER', 0, 0, 0, 0),
 ('TAN', 0, 0, 0, 0),
 ('GUY', 0, 0, 0, 0),
 ('ZIM', 18, 4, 1, 23),
 ('CHN', 139, 177, 145, 461),
 ('CIV', 0, 0, 0, 0),
 ('ZAM', 0, 0, 0, 0),
 ('DOM', 0, 0, 0, 0),
 ('ALG', 2, 0, 1, 3),
 ('SYR', 1, 0, 0, 1),
 ('SUR', 0, 0, 0, 0),
 ('CRC', 1, 1, 2, 4),
 ('INA', 1, 8, 4, 13),
 ('SEN', 0, 0, 0, 0),
 ('DJI', 0, 0, 0, 0),
 ('AHO', 0, 0, 0, 0),
 ('ISV', 0, 0, 0, 0),
 ('EUN', 33, 27, 34, 94),
 ('NAM', 0, 0, 0, 0),
 ('QAT', 0, 0, 0, 0),
 ('LTU', 1, 2, 3, 6),
 ('MAS', 0, 0, 0, 0),
 ('CRO', 0, 1, 3, 4),
 ('ISR', 0, 1, 0, 1),
 ('SLO', 0, 2, 3, 5),
 ('IOP', 0, 1, 1, 2),
 ('RUS', 95, 112, 86, 293),
 ('UKR', 17, 16, 40, 73),
 ('ECU', 0, 0, 0, 0),
 ('BDI', 0, 0, 0, 0),
 ('MOZ', 1, 0, 1, 2),
 ('CZE', 4, 5, 3, 12),
 ('BLR', 6, 12, 29, 47),
 ('TGA', 0, 0, 0, 0),
 ('KAZ', 1, 2, 2, 5),
 ('UZB', 0, 0, 1, 1),
 ('SVK', 2, 3, 0, 5),
 ('MDA', 0, 0, 0, 0),
 ('GEO', 0, 0, 1, 1),
 ('HKG', 1, 0, 0, 1),
 ('ARM', 0, 0, 0, 0),
 ('AZE', 1, 0, 3, 4),
 ('BAR', 0, 0, 0, 0),
 ('KSA', 0, 0, 0, 0),
 ('KGZ', 0, 0, 0, 0),
 ('KUW', 0, 0, 0, 0),
 ('VIE', 0, 1, 0, 1),
 ('MKD', 0, 0, 0, 0),
 ('SCG', 0, 1, 0, 1),
 ('ERI', 0, 0, 0, 0),
 ('PAR', 0, 0, 0, 0),
 ('UAE', 0, 0, 0, 0),
 ('SRB', 0, 0, 0, 0),
 ('SUD', 0, 0, 0, 0),
 ('MRI', 0, 0, 0, 0),
 ('TOG', 0, 0, 0, 0),
 ('TJK', 0, 0, 0, 0),
 ('AFG', 0, 0, 0, 0)]

# Create Data frame

In [84]:
df1 = panda.DataFrame(data=dataSet,columns=['Country','Gold','Silver','Bronze','Total Medal'])

df1.groupby(['Country','Total Medal']).sum()

                     Gold  Silver  Bronze
Country Total Medal
AFG     0               0       0       0
        1               0       0       1
AHO     0               0       0       0
        1               0       1       0
ALG     3               2       0       1
        11              2       2       7
ANZ     2               1       1       0
        27             19       3       5
ARG     56              0      19      37
        183            68      64      51
ARM     0               0       0       0
        9               1       1       7
AUS     428           145     133     150
        647           148     236     263
AUT     21              4       4      13
        125            17      77      31
AZE     4               1       0       3
        12              3       3       6
BAH     10              2       4       4
        13              7       5       1
BAR     0               0       0       0
        1               0       0       1
BDI     0               0       0       0
        1               1       0       0
BEL     18              3       6       9
        390            88     161     141
BER     0               0       0       0
        1               0       0       1
BLR     45              8      13      24
        47              6      12      29
...                   ...     ...     ...
TRI     20              1       8      11
TUN     0               0       0       0
        7               2       2       3
TUR     7               1       4       2
        75             36      19      20
UAE     0               0       0       0
        1               1       0       0
UGA     0               0       0       0
        6               1       3       2
UKR     73             17      16      40
        75             15      22      38
URS     573           263     145     165
        1476          575     482     419
URU     0               0       0       0
        76             44       2      30
USA     1215          568     361     286
        3120         1520     834     766
UZB     1               0       0       1
        16              4       5       7
VEN     2               0       0       2
        9               1       2       6
VIE     1               0       2       0
YUG     62             18      28      16
        373           125     146     102
ZAM     0               0       0       0
        2               0       1       1
ZIM     0               0       0       0
        23             18       4       1
ZZX     3               0       1       2
        45             23      14       8

[274 rows x 3 columns]

#### since we know  total number of rows

In [107]:
men =['Men']*138
women = ['Women']*138

In [124]:
data_set_men = list(zip(all_country,men,total_gold_medal_men,total_silver_medal_men,total_bronze_medal_men,total_medal_men))

data_set_women = list(zip(all_country,women,total_gold_medal_women,total_silver_medal_women,total_bronze_medal_women,total_medal_women))
combine_dataSet = data_set_men + data_set_women
combine_dataSet

[('HUN', 'Men', 349, 218, 251, 818),
 ('AUT', 'Men', 17, 77, 31, 125),
 ('GRE', 'Men', 29, 42, 37, 108),
 ('USA', 'Men', 1520, 834, 766, 3120),
 ('GER', 'Men', 301, 250, 298, 849),
 ('GBR', 'Men', 455, 494, 387, 1336),
 ('FRA', 'Men', 345, 431, 427, 1203),
 ('AUS', 'Men', 148, 236, 263, 647),
 ('DEN', 'Men', 95, 177, 130, 402),
 ('SUI', 'Men', 71, 149, 130, 350),
 ('ZZX', 'Men', 23, 14, 8, 45),
 ('NED', 'Men', 113, 148, 207, 468),
 ('BEL', 'Men', 88, 161, 141, 390),
 ('IND', 'Men', 128, 16, 33, 177),
 ('CAN', 'Men', 122, 145, 144, 411),
 ('BOH', 'Men', 0, 1, 5, 6),
 ('SWE', 'Men', 328, 320, 284, 932),
 ('NOR', 'Men', 158, 163, 108, 429),
 ('ESP', 'Men', 63, 171, 81, 315),
 ('ITA', 'Men', 418, 345, 346, 1109),
 ('CUB', 'Men', 116, 107, 76, 299),
 ('ANZ', 'Men', 19, 3, 5, 27),
 ('RSA', 'Men', 20, 33, 24, 77),
 ('FIN', 'Men', 120, 114, 208, 442),
 ('RU1', 'Men', 1, 7, 9, 17),
 ('EST', 'Men', 8, 9, 19, 36),
 ('TCH', 'Men', 60, 95, 94, 249),
 ('NZL', 'Men', 68, 22, 52, 142),
 ('BRA', 'Men', 44, 86, 132, 262),
 ('JPN', 'Men', 148, 150, 196, 494),
 ('LUX', 'Men', 1, 1, 0, 2),
 ('ARG', 'Men', 68, 64, 51, 183),
 ('POL', 'Men', 90, 151, 165, 406),
 ('POR', 'Men', 2, 8, 16, 26),
 ('URU', 'Men', 44, 2, 30, 76),
 ('YUG', 'Men', 125, 146, 102, 373),
 ('ROU', 'Men', 39, 90, 170, 299),
 ('HAI', 'Men', 0, 1, 7, 8),
 ('EGY', 'Men', 7, 7, 10, 24),
 ('PHI', 'Men', 0, 2, 7, 9),
 ('IRL', 'Men', 5, 7, 7, 19),
 ('CHI', 'Men', 3, 8, 21, 32),
 ('LAT', 'Men', 2, 10, 4, 16),
 ('MEX', 'Men', 12, 15, 42, 69),
 ('TUR', 'Men', 36, 19, 20, 75),
 ('PAN', 'Men', 1, 0, 2, 3),
 ('JAM', 'Men', 13, 18, 16, 47),
 ('SRI', 'Men', 0, 1, 0, 1),
 ('KOR', 'Men', 75, 83, 83, 241),
 ('PUR', 'Men', 0, 1, 5, 6),
 ('PER', 'Men', 1, 2, 0, 3),
 ('IRI', 'Men', 11, 15, 22, 48),
 ('TRI', 'Men', 1, 8, 11, 20),
 ('URS', 'Men', 575, 482, 419, 1476),
 ('VEN', 'Men', 1, 2, 6, 9),
 ('BUL', 'Men', 40, 94, 80, 214),
 ('LIB', 'Men', 0, 2, 2, 4),
 ('EUA', 'Men', 57, 75, 73, 205),
 ('ISL', 'Men', 0, 15, 1, 16),
 ('PAK', 'Men', 42, 45, 34, 121),
 ('BAH', 'Men', 2, 4, 4, 10),
 ('BWI', 'Men', 0, 0, 5, 5),
 ('TPE', 'Men', 1, 25, 4, 30),
 ('ETH', 'Men', 12, 4, 9, 25),
 ('MAR', 'Men', 5, 4, 8, 17),
 ('GHA', 'Men', 0, 1, 15, 16),
 ('IRQ', 'Men', 0, 0, 1, 1),
 ('SIN', 'Men', 0, 1, 0, 1),
 ('TUN', 'Men', 2, 2, 3, 7),
 ('KEN', 'Men', 24, 25, 24, 73),
 ('NGR', 'Men', 18, 32, 16, 66),
 ('GDR', 'Men', 169, 150, 137, 456),
 ('FRG', 'Men', 110, 128, 137, 375),
 ('UGA', 'Men', 1, 3, 2, 6),
 ('CMR', 'Men', 18, 1, 1, 20),
 ('MGL', 'Men', 2, 6, 9, 17),
 ('PRK', 'Men', 7, 7, 13, 27),
 ('COL', 'Men', 0, 3, 3, 6),
 ('NIG', 'Men', 0, 0, 1, 1),
 ('THA', 'Men', 4, 3, 6, 13),
 ('BER', 'Men', 0, 0, 1, 1),
 ('TAN', 'Men', 0, 2, 0, 2),
 ('GUY', 'Men', 0, 0, 1, 1),
 ('ZIM', 'Men', 0, 0, 0, 0),
 ('CHN', 'Men', 95, 75, 48, 218),
 ('CIV', 'Men', 0, 1, 0, 1),
 ('ZAM', 'Men', 0, 1, 1, 2),
 ('DOM', 'Men', 2, 1, 1, 4),
 ('ALG', 'Men', 2, 2, 7, 11),
 ('SYR', 'Men', 0, 1, 1, 2),
 ('SUR', 'Men', 1, 0, 1, 2),
 ('CRC', 'Men', 0, 0, 0, 0),
 ('INA', 'Men', 8, 6, 8, 22),
 ('SEN', 'Men', 0, 1, 0, 1),
 ('DJI', 'Men', 0, 0, 1, 1),
 ('AHO', 'Men', 0, 1, 0, 1),
 ('ISV', 'Men', 0, 1, 0, 1),
 ('EUN', 'Men', 59, 38, 32, 129),
 ('NAM', 'Men', 0, 4, 0, 4),
 ('QAT', 'Men', 0, 0, 2, 2),
 ('LTU', 'Men', 3, 2, 39, 44),
 ('MAS', 'Men', 0, 3, 3, 6),
 ('CRO', 'Men', 31, 29, 15, 75),
 ('ISR', 'Men', 1, 0, 5, 6),
 ('SLO', 'Men', 4, 4, 8, 16),
 ('IOP', 'Men', 0, 0, 1, 1),
 ('RUS', 'Men', 97, 94, 154, 345),
 ('UKR', 'Men', 15, 22, 38, 75),
 ('ECU', 'Men', 1, 1, 0, 2),
 ('BDI', 'Men', 1, 0, 0, 1),
 ('MOZ', 'Men', 0, 0, 0, 0),
 ('CZE', 'Men', 6, 13, 10, 29),
 ('BLR', 'Men', 8, 13, 24, 45),
 ('TGA', 'Men', 0, 1, 0, 1),
 ('KAZ', 'Men', 8, 14, 12, 34),
 ('UZB', 'Men', 4, 5, 7, 16),
 ('SVK', 'Men', 8, 8, 8, 24),
 ('MDA', 'Men', 0, 3, 3, 6),
 ('GEO', 'Men', 5, 2, 10, 17),
 ('HKG', 'Men', 0, 2, 0, 2),
 ('ARM', 'Men', 1, 1, 7, 9),
 ('AZE', 'Men', 3, 3, 6, 12),
 ('BAR', 'Men', 0, 0, 1, 1),
 ('KSA', 'Men', 0, 1, 1, 2),
 ('KGZ', 'Men', 0, 1, 2, 3),
 ('KUW', 'Men', 0, 0, 1, 1),
 ('VIE', 'Men', 0, 1, 0, 1),
 ('MKD', 'Men', 0, 0, 1, 1),
 ('SCG', 'Men', 0, 13, 0, 13),
 ('ERI', 'Men', 0, 0, 1, 1),
 ('PAR', 'Men', 0, 17, 0, 17),
 ('UAE', 'Men', 1, 0, 0, 1),
 ('SRB', 'Men', 0, 1, 14, 15),
 ('SUD', 'Men', 0, 1, 0, 1),
 ('MRI', 'Men', 0, 0, 1, 1),
 ('TOG', 'Men', 0, 0, 1, 1),
 ('TJK', 'Men', 0, 1, 1, 2),
 ('AFG', 'Men', 0, 0, 1, 1),
 ('HUN', 'Women', 51, 90, 94, 235),
 ('AUT', 'Women', 4, 4, 13, 21),
 ('GRE', 'Women', 5, 20, 12, 37),
 ('USA', 'Women', 568, 361, 286, 1215),
 ('GER', 'Women', 106, 100, 156, 362),
 ('GBR', 'Women', 43, 97, 118, 258),
 ('FRA', 'Women', 33, 30, 48, 111),
 ('AUS', 'Women', 145, 133, 150, 428),
 ('DEN', 'Women', 52, 15, 22, 89),
 ('SUI', 'Women', 2, 16, 8, 26),
 ('ZZX', 'Women', 0, 1, 2, 3),
 ('NED', 'Women', 99, 102, 113, 314),
 ('BEL', 'Women', 3, 6, 9, 18),
 ('IND', 'Women', 0, 0, 1, 1),
 ('CAN', 'Women', 32, 66, 83, 181),
 ('BOH', 'Women', 0, 0, 1, 1),
 ('SWE', 'Women', 19, 29, 41, 89),
 ('NOR', 'Women', 36, 36, 36, 108),
 ('ESP', 'Women', 29, 22, 11, 62),
 ('ITA', 'Women', 42, 49, 28, 119),
 ('CUB', 'Women', 44, 19, 33, 96),
 ('ANZ', 'Women', 1, 1, 0, 2),
 ('RSA', 'Women', 4, 4, 12, 20),
 ('FIN', 'Women', 4, 4, 1, 9),
 ('RU1', 'Women', 0, 0, 0, 0),
 ('EST', 'Women', 1, 0, 0, 1),
 ('TCH', 'Women', 20, 49, 11, 80),
 ('NZL', 'Women', 8, 5, 9, 22),
 ('BRA', 'Women', 15, 53, 42, 110),
 ('JPN', 'Women', 58, 78, 74, 210),
 ('LUX', 'Women', 0, 0, 0, 0),
 ('ARG', 'Women', 0, 19, 37, 56),
 ('POL', 'Women', 13, 22, 58, 93),
 ('POR', 'Women', 2, 1, 2, 5),
 ('URU', 'Women', 0, 0, 0, 0),
 ('YUG', 'Women', 18, 28, 16, 62),
 ('ROU', 'Women', 116, 97, 112, 325),
 ('HAI', 'Women', 0, 0, 0, 0),
 ('EGY', 'Women', 0, 0, 0, 0),
 ('PHI', 'Women', 0, 0, 0, 0),
 ('IRL', 'Women', 3, 1, 1, 5),
 ('CHI', 'Women', 0, 1, 0, 1),
 ('LAT', 'Women', 0, 1, 0, 1),
 ('MEX', 'Women', 2, 3, 6, 11),
 ('TUR', 'Women', 1, 4, 2, 7),
 ('PAN', 'Women', 0, 0, 0, 0),
 ('JAM', 'Women', 10, 22, 23, 55),
 ('SRI', 'Women', 0, 1, 0, 1),
 ('KOR', 'Women', 65, 108, 52, 225),
 ('PUR', 'Women', 0, 0, 0, 0),
 ('PER', 'Women', 0, 12, 0, 12),
 ('IRI', 'Women', 0, 0, 0, 0),
 ('TRI', 'Women', 0, 0, 0, 0),
 ('URS', 'Women', 263, 145, 165, 573),
 ('VEN', 'Women', 0, 0, 2, 2),
 ('BUL', 'Women', 13, 48, 56, 117),
 ('LIB', 'Women', 0, 0, 0, 0),
 ('EUA', 'Women', 11, 25, 19, 55),
 ('ISL', 'Women', 0, 0, 1, 1),
 ('PAK', 'Women', 0, 0, 0, 0),
 ('BAH', 'Women', 7, 5, 1, 13),
 ('BWI', 'Women', 0, 0, 0, 0),
 ('TPE', 'Women', 1, 2, 9, 12),
 ('ETH', 'Women', 6, 2, 5, 13),
 ('MAR', 'Women', 1, 1, 2, 4),
 ('GHA', 'Women', 0, 0, 0, 0),
 ('IRQ', 'Women', 0, 0, 0, 0),
 ('SIN', 'Women', 0, 3, 0, 3),
 ('TUN', 'Women', 0, 0, 0, 0),
 ('KEN', 'Women', 2, 6, 0, 8),
 ('NGR', 'Women', 1, 6, 11, 18),
 ('GDR', 'Women', 160, 121, 88, 369),
 ('FRG', 'Women', 33, 39, 43, 115),
 ('UGA', 'Women', 0, 0, 0, 0),
 ('CMR', 'Women', 2, 0, 0, 2),
 ('MGL', 'Women', 0, 1, 1, 2),
 ('PRK', 'Women', 3, 5, 17, 25),
 ('COL', 'Women', 1, 0, 4, 5),
 ('NIG', 'Women', 0, 0, 0, 0),
 ('THA', 'Women', 3, 1, 4, 8),
 ('BER', 'Women', 0, 0, 0, 0),
 ('TAN', 'Women', 0, 0, 0, 0),
 ('GUY', 'Women', 0, 0, 0, 0),
 ('ZIM', 'Women', 18, 4, 1, 23),
 ('CHN', 'Women', 139, 177, 145, 461),
 ('CIV', 'Women', 0, 0, 0, 0),
 ('ZAM', 'Women', 0, 0, 0, 0),
 ('DOM', 'Women', 0, 0, 0, 0),
 ('ALG', 'Women', 2, 0, 1, 3),
 ('SYR', 'Women', 1, 0, 0, 1),
 ('SUR', 'Women', 0, 0, 0, 0),
 ('CRC', 'Women', 1, 1, 2, 4),
 ('INA', 'Women', 1, 8, 4, 13),
 ('SEN', 'Women', 0, 0, 0, 0),
 ('DJI', 'Women', 0, 0, 0, 0),
 ('AHO', 'Women', 0, 0, 0, 0),
 ('ISV', 'Women', 0, 0, 0, 0),
 ('EUN', 'Women', 33, 27, 34, 94),
 ('NAM', 'Women', 0, 0, 0, 0),
 ('QAT', 'Women', 0, 0, 0, 0),
 ('LTU', 'Women', 1, 2, 3, 6),
 ('MAS', 'Women', 0, 0, 0, 0),
 ('CRO', 'Women', 0, 1, 3, 4),
 ('ISR', 'Women', 0, 1, 0, 1),
 ('SLO', 'Women', 0, 2, 3, 5),
 ('IOP', 'Women', 0, 1, 1, 2),
 ('RUS', 'Women', 95, 112, 86, 293),
 ('UKR', 'Women', 17, 16, 40, 73),
 ('ECU', 'Women', 0, 0, 0, 0),
 ('BDI', 'Women', 0, 0, 0, 0),
 ('MOZ', 'Women', 1, 0, 1, 2),
 ('CZE', 'Women', 4, 5, 3, 12),
 ('BLR', 'Women', 6, 12, 29, 47),
 ('TGA', 'Women', 0, 0, 0, 0),
 ('KAZ', 'Women', 1, 2, 2, 5),
 ('UZB', 'Women', 0, 0, 1, 1),
 ('SVK', 'Women', 2, 3, 0, 5),
 ('MDA', 'Women', 0, 0, 0, 0),
 ('GEO', 'Women', 0, 0, 1, 1),
 ('HKG', 'Women', 1, 0, 0, 1),
 ('ARM', 'Women', 0, 0, 0, 0),
 ('AZE', 'Women', 1, 0, 3, 4),
 ('BAR', 'Women', 0, 0, 0, 0),
 ('KSA', 'Women', 0, 0, 0, 0),
 ('KGZ', 'Women', 0, 0, 0, 0),
 ('KUW', 'Women', 0, 0, 0, 0),
 ('VIE', 'Women', 0, 1, 0, 1),
 ('MKD', 'Women', 0, 0, 0, 0),
 ('SCG', 'Women', 0, 1, 0, 1),
 ('ERI', 'Women', 0, 0, 0, 0),
 ('PAR', 'Women', 0, 0, 0, 0),
 ('UAE', 'Women', 0, 0, 0, 0),
 ('SRB', 'Women', 0, 0, 0, 0),
 ('SUD', 'Women', 0, 0, 0, 0),
 ('MRI', 'Women', 0, 0, 0, 0),
 ('TOG', 'Women', 0, 0, 0, 0),
 ('TJK', 'Women', 0, 0, 0, 0),
 ('AFG', 'Women', 0, 0, 0, 0)]

In [120]:
combine_df = panda.DataFrame(data=combine_dataSet,columns=['Country','Gender','Gold','Silver','Bronze','Total Medal'])

# Save data to excel

In [119]:
combine_df.to_excel('countrywise_medal_t.xls')

# Grouping same country

In [121]:

a1.groupby(['Country','Gender']).sum()

                Gold  Silver  Bronze  Total Medal
Country Gender
AFG     Men        0       0       1            1
        Women      0       0       0            0
AHO     Men        0       1       0            1
        Women      0       0       0            0
ALG     Men        2       2       7           11
        Women      2       0       1            3
ANZ     Men       19       3       5           27
        Women      1       1       0            2
ARG     Men       68      64      51          183
        Women      0      19      37           56
ARM     Men        1       1       7            9
        Women      0       0       0            0
AUS     Men      148     236     263          647
        Women    145     133     150          428
AUT     Men       17      77      31          125
        Women      4       4      13           21
AZE     Men        3       3       6           12
        Women      1       0       3            4
BAH     Men        2       4       4           10
        Women      7       5       1           13
BAR     Men        0       0       1            1
        Women      0       0       0            0
BDI     Men        1       0       0            1
        Women      0       0       0            0
BEL     Men       88     161     141          390
        Women      3       6       9           18
BER     Men        0       0       1            1
        Women      0       0       0            0
BLR     Men        8      13      24           45
        Women      6      12      29           47
...              ...     ...     ...          ...
TUN     Men        2       2       3            7
        Women      0       0       0            0
TUR     Men       36      19      20           75
        Women      1       4       2            7
UAE     Men        1       0       0            1
        Women      0       0       0            0
UGA     Men        1       3       2            6
        Women      0       0       0            0
UKR     Men       15      22      38           75
        Women     17      16      40           73
URS     Men      575     482     419         1476
        Women    263     145     165          573
URU     Men       44       2      30           76
        Women      0       0       0            0
USA     Men     1520     834     766         3120
        Women    568     361     286         1215
UZB     Men        4       5       7           16
        Women      0       0       1            1
VEN     Men        1       2       6            9
        Women      0       0       2            2
VIE     Men        0       1       0            1
        Women      0       1       0            1
YUG     Men      125     146     102          373
        Women     18      28      16           62
ZAM     Men        0       1       1            2
        Women      0       0       0            0
ZIM     Men        0       0       0            0
        Women     18       4       1           23
ZZX     Men       23      14       8           45
        Women      0       1       2            3

[276 rows x 4 columns]