In [19]:
import pandas as pd
from pandas import DataFrame,read_csv

In [9]:
names = ["Nepal","Butan", "india"]
codes = [977,11,222]

In [10]:
names

['Nepal', 'Butan', 'india']

In [11]:
codes

[977, 11, 222]

In [12]:
list(zip(names,codes))

[('Nepal', 977), ('Butan', 11), ('india', 222)]

In [26]:
dataset = list(zip(["john","harry","mary"], [12,52,44]))

In [44]:
df = DataFrame(data=dataset)

In [45]:
df

       0   1
0   john  12
1  harry  52
2   mary  44

In [30]:
_df = pd.read_csv("nepal_data_csv/nepal.csv" ,skiprows=3)

In [31]:
_df

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2007,2008,2009,2010,2011,2012,2013,2014,2015,Unnamed: 60
0,Nepal,NPL,"Agricultural machinery, tractors",AG.AGR.TRAC.NO,NaN,1.800000e+02,1.900000e+02,2.000000e+02,2.150000e+02,2.250000e+02,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Nepal,NPL,Fertilizer consumption (% of fertilizer produc...,AG.CON.FERT.PT.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Nepal,NPL,Fertilizer consumption (kilograms per hectare ...,AG.CON.FERT.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,1.608929e+00,1.364865e+00,1.820273e+01,2.508670e+01,3.488371e+01,4.406988e+01,5.772848e+01,NaN,NaN,NaN
3,Nepal,NPL,Agricultural land (sq. km),AG.LND.AGRI.K2,NaN,3.553000e+04,3.553000e+04,3.563000e+04,3.553000e+04,3.553000e+04,...,4.166000e+04,4.152000e+04,4.140000e+04,4.126000e+04,4.126600e+04,4.121000e+04,4.121000e+04,NaN,NaN,NaN
4,Nepal,NPL,Agricultural land (% of land area),AG.LND.AGRI.ZS,NaN,2.484615e+01,2.484615e+01,2.491608e+01,2.484615e+01,2.484615e+01,...,2.906174e+01,2.896407e+01,2.888036e+01,2.878270e+01,2.878689e+01,2.874782e+01,2.874782e+01,NaN,NaN,NaN
5,Nepal,NPL,Arable land (hectares),AG.LND.ARBL.HA,NaN,1.806000e+06,1.806000e+06,1.816000e+06,1.806000e+06,1.806000e+06,...,2.240000e+06,2.220000e+06,2.200000e+06,2.180000e+06,2.162700e+06,2.118000e+06,2.114000e+06,NaN,NaN,NaN
6,Nepal,NPL,Arable land (hectares per person),AG.LND.ARBL.HA.PC,NaN,1.767962e-01,1.740377e-01,1.722211e-01,1.684703e-01,1.656120e-01,...,8.594355e-02,8.432990e-02,8.272958e-02,8.111353e-02,7.957177e-02,7.701674e-02,7.594760e-02,NaN,NaN,NaN
7,Nepal,NPL,Arable land (% of land area),AG.LND.ARBL.ZS,NaN,1.262937e+01,1.262937e+01,1.269930e+01,1.262937e+01,1.262937e+01,...,1.562609e+01,1.548657e+01,1.534705e+01,1.520753e+01,1.508685e+01,1.477503e+01,1.474712e+01,NaN,NaN,NaN
8,Nepal,NPL,Land under cereal production (hectares),AG.LND.CREL.HA,NaN,1.715000e+06,1.724500e+06,1.725500e+06,1.742000e+06,1.786000e+06,...,3.314830e+06,3.428011e+06,3.428424e+06,3.393553e+06,3.468509e+06,3.484532e+06,3.339077e+06,3.480052e+06,NaN,NaN
9,Nepal,NPL,Permanent cropland (% of land area),AG.LND.CROP.ZS,NaN,1.748252e-01,1.748252e-01,1.748252e-01,1.748252e-01,1.748252e-01,...,9.417510e-01,9.766306e-01,1.025462e+00,1.060342e+00,1.176142e+00,1.450994e+00,1.481897e+00,NaN,NaN,NaN
10,Nepal,NPL,Rural land area where elevation is below 5 met...,AG.LND.EL5M.RU.K2,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,Nepal,NPL,Rural land area where elevation is below 5 met...,AG.LND.EL5M.RU.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,Nepal,NPL,Urban land area where elevation is below 5 met...,AG.LND.EL5M.UR.K2,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,Nepal,NPL,Urban land area where elevation is below 5 met...,AG.LND.EL5M.UR.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,Nepal,NPL,Land area where elevation is below 5 meters (%...,AG.LND.EL5M.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,Nepal,NPL,Forest area (sq. km),AG.LND.FRST.K2,NaN,NaN,NaN,NaN,NaN,NaN,...,3.636000e+04,3.636000e+04,3.636000e+04,3.636000e+04,3.636000e+04,3.636000e+04,3.636000e+04,3.636000e+04,36360.000000,NaN
16,Nepal,NPL,Forest area (% of land area),AG.LND.FRST.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,2.536449e+01,2.536449e+01,2.536449e+01,2.536449e+01,2.536449e+01,2.536449e+01,2.536449e+01,2.536449e+01,25.364493,NaN
17,Nepal,NPL,Agricultural irrigated land (% of total agricu...,AG.LND.IRIG.AG.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,2.542007e+01,2.586705e+01,2.640097e+01,2.973825e+01,NaN,NaN,NaN,NaN,NaN,NaN
18,Nepal,NPL,Average precipitation in depth (mm per year),AG.LND.PRCP.MM,NaN,NaN,1.500000e+03,NaN,NaN,NaN,...,1.500000e+03,NaN,NaN,NaN,NaN,1.500000e+03,NaN,1.500000e+03,NaN,NaN
19,Nepal,NPL,Land area (sq. km),AG.LND.TOTL.K2,NaN,1.430000e+05,1.430000e+05,1.430000e+05,1.430000e+05,1.430000e+05,...,1.433500e+05,1.433500e+05,1.433500e+05,1.433500e+05,1.433500e+05,1.433500e+05,1.433500e+05,1.433500e+05,143350.000000,NaN
20,Nepal,NPL,Rural land area (sq. km),AG.LND.TOTL.RU.K2,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,Nepal,NPL,Urban land area (sq. km),AG.LND.TOTL.UR.K2,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,Nepal,NPL,"Agricultural machinery, tractors per 100 sq. k...",AG.LND.TRAC.ZS,NaN,9.966777e-01,1.052049e+00,1.101322e+00,1.190476e+00,1.245847e+00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,Nepal,NPL,Cereal production (metric tons),AG.PRD.CREL.MT,NaN,3.167000e+06,3.177026e+06,3.181578e+06,3.280500e+06,3.335000e+06,...,7.336809e+06,8.077057e+06,8.122431e+06,7.770976e+06,8.615383e+06,9.457722e+06,8.580285e+06,9.562680e+06,NaN,NaN
24,Nepal,NPL,Crop production index (2004-2006 = 100),AG.PRD.CROP.XD,NaN,2.821000e+01,2.834000e+01,2.878000e+01,2.928000e+01,3.042000e+01,...,9.911000e+01,1.075200e+02,1.130100e+02,1.135600e+02,1.239700e+02,1.380700e+02,1.300900e+02,NaN,NaN,NaN
25,Nepal,NPL,Food production index (2004-2006 = 100),AG.PRD.FOOD.XD,NaN,2.840000e+01,2.866000e+01,2.921000e+01,2.970000e+01,3.056000e+01,...,1.003900e+02,1.071500e+02,1.122100e+02,1.133700e+02,1.216100e+02,1.402900e+02,1.303600e+02,NaN,NaN,NaN
26,Nepal,NPL,Livestock production index (2004-2006 = 100),AG.PRD.LVSK.XD,NaN,3.001000e+01,3.068000e+01,3.159000e+01,3.203000e+01,3.264000e+01,...,1.054000e+02,1.078300e+02,1.123100e+02,1.149300e+02,1.200100e+02,1.508600e+02,1.355400e+02,NaN,NaN,NaN
27,Nepal,NPL,Surface area (sq. km),AG.SRF.TOTL.K2,NaN,1.471800e+05,1.471800e+05,1.471800e+05,1.471800e+05,1.471800e+05,...,1.471800e+05,1.471800e+05,1.471800e+05,1.471800e+05,1.471800e+05,1.471800e+05,1.471800e+05,1.471800e+05,147180.000000,NaN
28,Nepal,NPL,Cereal yield (kg per hectare),AG.YLD.CREL.KG,NaN,1.846600e+03,1.842300e+03,1.843900e+03,1.883200e+03,1.867300e+03,...,2.213300e+03,2.356200e+03,2.369100e+03,2.289900e+03,2.483900e+03,2.714200e+03,2.569700e+03,2.747900e+03,NaN,NaN
29,Nepal,NPL,Trade in services (% of GDP),BG.GSR.NFSV.GD.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,1.195010e+01,1.255763e+01,1.203019e+01,9.627178e+00,8.700760e+00,9.660694e+00,1.128208e+01,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1389,Nepal,NPL,Merchandise exports to low- and middle-income ...,TX.VAL.MRCH.R2.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1390,Nepal,NPL,Merchandise exports to low- and middle-income ...,TX.VAL.MRCH.R3.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1391,Nepal,NPL,Merchandise exports to low- and middle-income ...,TX.VAL.MRCH.R4.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,2.052545e-02,1.679581e-02,2.715025e-01,6.798154e-02,1.088763e-01,1.086795e-01,1.307765e-01,1.064697e-01,NaN,NaN
1392,Nepal,NPL,Merchandise exports to low- and middle-income ...,TX.VAL.MRCH.R5.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,7.265782e+01,7.102051e+01,6.519751e+01,6.580152e+01,6.317716e+01,6.396532e+01,5.981240e+01,6.209662e+01,NaN,NaN
1393,Nepal,NPL,Merchandise exports to low- and middle-income ...,TX.VAL.MRCH.R6.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1394,Nepal,NPL,"Merchandise exports by the reporting economy, ...",TX.VAL.MRCH.RS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,3.260126e+00,5.408250e+00,5.145636e+00,6.142742e+00,6.970104e+00,8.269581e+00,1.048129e+01,1.036575e+01,NaN,NaN
1395,Nepal,NPL,Merchandise exports by the reporting economy (...,TX.VAL.MRCH.WL.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,8.769600e+08,8.930800e+08,6.721235e+08,7.792974e+08,8.227910e+08,8.658039e+08,8.076634e+08,9.173636e+08,NaN,NaN
1396,Nepal,NPL,Merchandise exports to low- and middle-income ...,TX.VAL.MRCH.WR.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,7.265782e+01,7.102051e+01,6.519751e+01,6.580152e+01,6.317716e+01,6.396532e+01,5.981240e+01,6.209662e+01,NaN,NaN
1397,Nepal,NPL,Export value index (2000 = 100),TX.VAL.MRCH.XD.WD,NaN,NaN,NaN,NaN,NaN,NaN,...,1.080100e+02,1.167617e+02,1.023129e+02,1.064376e+02,1.143312e+02,1.133092e+02,1.092950e+02,1.105666e+02,NaN,NaN
1398,Nepal,NPL,"Computer, communications and other services (%...",TX.VAL.OTHR.ZS.WT,NaN,NaN,NaN,NaN,NaN,NaN,...,2.928881e+01,2.660431e+01,2.460677e+01,3.413217e+01,4.516057e+01,4.988311e+01,5.169544e+01,5.263940e+01,NaN,NaN
1399,Nepal,NPL,Commercial service exports (current US$),TX.VAL.SERV.CD.WT,NaN,NaN,NaN,NaN,NaN,NaN,...,3.395014e+08,4.943312e+08,6.002456e+08,5.828764e+08,7.750446e+08,7.689429e+08,9.678490e+08,1.077983e+09,NaN,NaN
1400,Nepal,NPL,High-technology exports (current US$),TX.VAL.TECH.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,2.435963e+06,3.566817e+06,1.916543e+06,7.783020e+05,1.768386e+06,1.058351e+06,NaN,NaN
1401,Nepal,NPL,High-technology exports (% of manufactured exp...,TX.VAL.TECH.MF.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,4.133738e-01,5.674785e-01,2.860240e-01,1.303599e-01,2.980678e-01,1.731225e-01,NaN,NaN
1402,Nepal,NPL,Transport services (% of commercial service ex...,TX.VAL.TRAN.ZS.WT,NaN,NaN,NaN,NaN,NaN,NaN,...,1.091123e+01,5.522145e+00,6.374064e+00,6.833955e+00,5.244184e+00,4.327819e+00,3.014165e+00,2.726186e+00,NaN,NaN
1403,Nepal,NPL,Travel services (% of commercial service exports),TX.VAL.TRVL.ZS.WT,NaN,NaN,NaN,NaN,NaN,NaN,...,5.887828e+01,6.772691e+01,6.876949e+01,5.896646e+01,4.938238e+01,4.562843e+01,4.505070e+01,4.430040e+01,NaN,NaN
1404,Nepal,NPL,Battle-related deaths (number of people),VC.BTL.DETH,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1405,Nepal,NPL,"Internally displaced persons (number, high est...",VC.IDP.TOTL.HE,NaN,NaN,NaN,NaN,NaN,NaN,...,7.000000e+04,2.500000e+05,1.830000e+04,NaN,4.647600e+04,6.000000e+02,1.247400e+04,8.320000e+04,NaN,NaN
1406,Nepal,NPL,"Internally displaced persons (number, low esti...",VC.IDP.TOTL.LE,NaN,NaN,NaN,NaN,NaN,NaN,...,5.000000e+04,5.000000e+04,5.000000e+04,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1407,Nepal,NPL,"Intentional homicides (per 100,000 people)",VC.IHR.PSRC.P5,NaN,NaN,NaN,NaN,NaN,NaN,...,3.441230e+00,3.386743e+00,3.028825e+00,3.047007e+00,2.874071e+00,NaN,NaN,NaN,NaN,NaN
1408,Nepal,NPL,"Presence of peace keepers (number of troops, p...",VC.PKP.TOTL.UN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,7.200000e+01,7.200000e+01,NaN,NaN,NaN,NaN,NaN,NaN
1409,Nepal,NPL,Account at a financial institution (% age 15+)...,WP_time_01.1,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,2.530856e+01,NaN,NaN,3.380135e+01,NaN,NaN
1410,Nepal,NPL,"Account at a financial institution, male (% ag...",WP_time_01.2,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,2.955825e+01,NaN,NaN,3.672448e+01,NaN,NaN
1411,Nepal,NPL,"Account at a financial institution, female (% ...",WP_time_01.3,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,2.121961e+01,NaN,NaN,3.126650e+01,NaN,NaN
1412,Nepal,NPL,"Account at a financial institution, income, po...",WP_time_01.8,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1.437905e+01,NaN,NaN,2.372530e+01,NaN,NaN
1413,Nepal,NPL,"Account at a financial institution, income, ri...",WP_time_01.9,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,3.258932e+01,NaN,NaN,4.105188e+01,NaN,NaN
1414,Nepal,NPL,Mobile account (% age 15+) [w2],WP15163_4.1,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.360386e-01,NaN,NaN
1415,Nepal,NPL,"Mobile account, male (% age 15+) [w2]",WP15163_4.2,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.977310e-01,NaN,NaN
1416,Nepal,NPL,"Mobile account, female (% age 15+) [w2]",WP15163_4.3,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.825407e-01,NaN,NaN
1417,Nepal,NPL,"Mobile account, income, poorest 40% (% ages 15...",WP15163_4.8,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.998639e-01,NaN,NaN
1418,Nepal,NPL,"Mobile account, income, richest 60% (% ages 15...",WP15163_4.9,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.620692e-01,NaN,NaN

In [32]:
_df.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2007,2008,2009,2010,2011,2012,2013,2014,2015,Unnamed: 60
0,Nepal,NPL,"Agricultural machinery, tractors",AG.AGR.TRAC.NO,NaN,180.000000,190.000000,200.000000,215.000000,225.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Nepal,NPL,Fertilizer consumption (% of fertilizer produc...,AG.CON.FERT.PT.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Nepal,NPL,Fertilizer consumption (kilograms per hectare ...,AG.CON.FERT.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,1.608929,1.364865,18.202727,25.086697,34.883710,44.069877,57.728477,NaN,NaN,NaN
3,Nepal,NPL,Agricultural land (sq. km),AG.LND.AGRI.K2,NaN,35530.000000,35530.000000,35630.000000,35530.000000,35530.000000,...,41660.000000,41520.000000,41400.000000,41260.000000,41266.000000,41210.000000,41210.000000,NaN,NaN,NaN
4,Nepal,NPL,Agricultural land (% of land area),AG.LND.AGRI.ZS,NaN,24.846154,24.846154,24.916084,24.846154,24.846154,...,29.061737,28.964074,28.880363,28.782700,28.786885,28.747820,28.747820,NaN,NaN,NaN

In [33]:
_df.tail()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2007,2008,2009,2010,2011,2012,2013,2014,2015,Unnamed: 60
1414,Nepal,NPL,Mobile account (% age 15+) [w2],WP15163_4.1,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.336039,NaN,NaN
1415,Nepal,NPL,"Mobile account, male (% age 15+) [w2]",WP15163_4.2,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.397731,NaN,NaN
1416,Nepal,NPL,"Mobile account, female (% age 15+) [w2]",WP15163_4.3,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.282541,NaN,NaN
1417,Nepal,NPL,"Mobile account, income, poorest 40% (% ages 15...",WP15163_4.8,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.299864,NaN,NaN
1418,Nepal,NPL,"Mobile account, income, richest 60% (% ages 15...",WP15163_4.9,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.362069,NaN,NaN

In [34]:
_df.loc[5]

Country Name                       Nepal
Country Code                         NPL
Indicator Name    Arable land (hectares)
Indicator Code            AG.LND.ARBL.HA
1960                                 NaN
1961                           1.806e+06
1962                           1.806e+06
1963                           1.816e+06
1964                           1.806e+06
1965                           1.806e+06
1966                           1.806e+06
1967                           1.819e+06
1968                           1.819e+06
1969                           1.819e+06
1970                           1.953e+06
1971                           1.953e+06
1972                           2.055e+06
1973                           2.165e+06
1974                            2.18e+06
1975                           2.195e+06
1976                            2.21e+06
1977                           2.225e+06
1978                            2.24e+06
1979                           2.255e+06
1980                            2.27e+06
1981                           2.288e+06
1982                          2.2916e+06
1983                          2.2952e+06
1984                          2.2988e+06
1985                          2.3024e+06
                           ...
1987                          2.3096e+06
1988                          2.3132e+06
1989                          2.3168e+06
1990                          2.3204e+06
1991                           2.324e+06
1992                          2.3273e+06
1993                          2.3306e+06
1994                          2.3339e+06
1995                          2.3372e+06
1996                          2.3405e+06
1997                          2.3438e+06
1998                          2.3471e+06
1999                          2.3504e+06
2000                           2.354e+06
2001                           2.357e+06
2002                           2.335e+06
2003                           2.315e+06
2004                             2.3e+06
2005                            2.28e+06
2006                            2.26e+06
2007                            2.24e+06
2008                            2.22e+06
2009                             2.2e+06
2010                            2.18e+06
2011                          2.1627e+06
2012                           2.118e+06
2013                           2.114e+06
2014                                 NaN
2015                                 NaN
Unnamed: 60                          NaN
Name: 5, dtype: object

In [35]:
mean1 = _df["2014"].mean()

In [36]:
mean2 = _df["2013"].mean()

In [37]:
mean2

33765290259.507114

In [38]:
_df["2001"].mode()

0    0.0
dtype: float64

In [39]:
_df["2001"].median()

61.93